[submodule "HelperClassLib"]
	path = HelperClassLib
	url = https://github.com/zakharovda95/HelperClassLib.git
	branch = master
[submodule "ModuleBot"]
	path = ModuleBot
	url = https://github.com/zakharovda95/ModuleBot.git
	branch = master
[submodule "cv_main"]
	path = cv_main
	url = https://github.com/zakharovda95/cv_main.git
	branch = master
